.card {
  background: #fff;
  border-radius: 2px;
  height: 185px;
  position: relative;
  float: left;
  width: 185px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
  margin: 1% 0 1% 0;
}

.card:hover {
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1); 
  transform: scale(1.1); 
}

.card > .card-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
  background:#6CADDC;
}
.card > .img-container > img {
  width: 60%
}
  
.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
}
  
.card > .content > ul {
  list-style-type: none;
}
  
.card > .content > ul > li {
  margin-top: 18px;
}